<section class="events-hero">
  <div class="container">
    <h2>Community Events & Experiences</h2>
    <p>From virtual fireside chats to hands-on coding sprints, our events are where connection meets innovation. Join us
      — and grow together.</p>
    <a (click)="scrollToBottom()" class="btn-primary">See Upcoming Events</a>
  </div>
</section>

<section class="events-highlight" id="upcoming-events">
  <div class="container">
    <h3>Featured Event</h3>
    <div class="highlight-card">
      <div class="highlight-info">
        <span class="date-tag">March 3, 2025</span>
        <h4>Breaking Into Tech — Live Webinar</h4>
        <p>Meet industry pros who've transitioned into tech. Learn how to navigate your career shift with confidence,
          community, and support.</p>
        <a (click)="goToRegister()"  class="btn-secondary">Reserve Your Spot</a>
      </div>
      <div class="highlight-img">
        <img src="https://images.unsplash.com/photo-1551836022-d5d88e9218df" alt="Webinar" />
      </div>
    </div>
  </div>
</section>

<section class="events-grid-section">
  <div class="container">
    <h3>Past & Upcoming Events</h3>
    <div class="grid">
      <div *ngFor="let event of events" class="highlight-card" (click)="goToEvent(event)">
        <div class="highlight-info">
          <span class="date-tag">{{ event.date }}</span>
          <h4 class="title">{{ event.title }} — Live Webinar</h4>
          <p class="">{{ event.description }}</p>
          <a class="btn-secondary">Watch Webinar</a>
        </div>
        <div class="highlight-img">
          <img [src]="event.image" alt="Webinar" />
        </div>
      </div>
    </div>

  </div>
</section>


