<!-- <header>
  <nav>
    <img [routerLink]="['/']" [src]="logoPath" alt="Path2Tech Logo" class="logo">
    <div class="nav-links">
      <a [routerLink]="['/events']" >Event</a>
      <a [routerLink]="['/programs']">Programs</a>
      <a [routerLink]="['/explore-communities']">Communities</a>
      <a [routerLink]="['/about-us']">About Us</a>

      <button [routerLink]="['/contact']" mat-stroked-button>Contact Us</button>
    </div>
  </nav>
</header> -->
<header>
  <nav>
    <img [routerLink]="['/']" [src]="logoPath" alt="Path2Tech Logo" class="logo">

    <!-- Burger menu icon (visible only on mobile) -->
    <div class="burger" (click)="toggleMenu()">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>

    <div class="nav-links" [class.active]="isMenuOpen">
      <a [routerLink]="['/events']" (click)="closeMenu()">Webinars</a>
      <a [routerLink]="['/programs']" (click)="closeMenu()">Programs</a>
      <a [routerLink]="['/explore-communities']" (click)="closeMenu()">Communities</a>
      <a [routerLink]="['/about-us']" (click)="closeMenu()">About Us</a>
      <button [routerLink]="['/contact']" mat-stroked-button (click)="closeMenu()">Contact Us</button>
    </div>
  </nav>
</header>
